# ===== Logs =====
logs
*.log
npm-debug.log*

# ===== Dependências e builds =====
**/node_modules/
**/dist/
**/build/
**/tmp/
**/temp/

# ===== Arquivos de ambiente =====
**/.env
**/.env.*
!**/.env.example

# ===== Cache / Test Coverage =====
**/.cache/
**/coverage/

# ===== Configurações de editor/IDE =====
.vscode/
.idea/

# ===== Docker =====
*.pid
docker-compose.override.yml

# ===== Outros =====
*.swp

*data/postgres